.lewaKol{
    font-size: 48px;
}
#menu {
    font-size: 28px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
    position: fixed;
    top: 0;
}

.button {
    float: left;
    border-right:1px solid #bbb;
}

.button a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

body {                     /*nie uzywaj body*/
    text-align: center;
}

.banner {
    background-image: url("img/pic-background.jpeg");
    background-position: bottom;
    width: 780px;
    height: 520px;
    margin: 20px auto 0;
}

.banner-tekst {
    display: flex;
    justify-content: center;
    font-family: 'Black Han Sans', sans-serif;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    padding: 260px 0 0 0;
    margin: 0;
}

.banner-opis {
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: arial;
    color: #fff;
    padding: 0;
    margin: 0;
}

.link-newsletter {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.link-newsletter:hover {
    color: #fff; /* not working*/
}

.link-newsletter:visited {
    color: #000;
}