.lewaKol{
    font-size: 48px;
}
#menu {
    font-size: 28px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
    position: fixed;
    top: 0;
}

.button {
    float: left;
    border-right:1px solid #bbb;
}

.button a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}